body {
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "East Sea Dokdo", cursive;
    background-image: url(./image/soju.jpeg);
}

.container {
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(247, 243, 242, 0.7);
}

.border-line {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button-style {
    height: 50px;
    width: 100px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 10px;
}

#reset-button {
    height: 50px;
    width: 100px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.pre-title {
    color: blue;
    font-size: 6vw;
    font-weight: bold;
}

.title {
    font-size: 8vw;
    font-weight: bold;
}

.sub-title {
    color: blue;
    font-size: 6cap;
    font-weight: bold;
}

.red-text {
    color: red;
}

.main-img {
    display: block;
    width: 35%;
    margin: auto;
    height: auto;
    object-fit: contain;
}

.form-control {
  height: 80px;
  font-size: 3vw;
  margin-right: 20px;
  text-align: center;
}

#result-text {
    font-size:5vw;
}


#chance-area {
    font-size:5vw;
    color:red;
}

#user-input {
    font-size: 3vw;
    margin-bottom: 20px;
}

@media screen and (max-width: 48rem) {
  .pre-title {
    font-size: 10vw;
  }
  .title {
    font-size: 12vw;
  }
  .sub-title {
    font-size: 11vw;
  }
  .form-control {
    font-size: 8vw;
    max-width: 500px;
    margin-right: 0px;
  }
  .main-img {
    width: 40vw;
  }
  .button-reset {
    font-size: 5vw;
    width: 80px;
    height: 60px;
  }
}